<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/styles/DescripcionHistoria.css">
    <title>Galería X</title>    
  </head>
  <body>
    <header>
      <div id="titulo"><a href="../index.html">Galeria X</a></div>
    </header>
    <section>
        <div id="top"></div>
        <div class="bot" id="left">
          <span>Descripción</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem ex, auctor rhoncus sagittis quis, volutpat ut ex. Suspendisse semper justo ac quam lacinia lacinia. Quisque posuere lobortis fringilla. Vestibulum eleifend vitae diam vel lacinia. In consectetur dolor enim, condimentum mollis sem rutrum ac. Maecenas vitae luctus magna. In vitae quam et sapien mollis dapibus. Nullam eget dui hendrerit, pharetra dui venenatis, elementum dui. Nulla efficitur sit amet dui a sodales</p>
        </div>
        <div class="bot" id="right">
          <span>Historia</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis lectus in mattis molestie. Mauris posuere faucibus dui, lobortis sollicitudin nunc tristique ac. Nulla fermentum felis sed varius rhoncus. Aenean iaculis pretium lacinia. Aenean consectetur sodales iaculis. Curabitur at nisl sed eros convallis consequat a vitae felis. Nullam at pretium orci. Phasellus placerat malesuada nibh vitae molestie.<br><br>
            Ut ac turpis ut mi pellentesque scelerisque ut a libero. Cras fringilla purus non neque porttitor maximus. Fusce semper placerat eros, ut ullamcorper quam aliquam accumsan. Ut bibendum aliquam bibendum. Aliquam erat volutpat. Maecenas in nibh consectetur, aliquam mi ac, aliquam enim. In rhoncus vitae lorem ut commodo.</p>
          <input type="button" value="Leer más" id="boton">
        </div>
    </section>
  </body>
</html>